body,
html, 
.body {
  background: $white !important;
}

.container {
  background: $white;
}

.columns {
  padding: 0px !important;
}

#image {
  width: 1000px !important;
  padding: 0px !important;
}

h1, h2, p, td, a {
  font-family:  "Courier New", sans-serif;
  color: #111 !important;
}

h1 {
  font-size: 16px;
  font-weight: 900;
	margin-bottom: 0;
  padding-bottom: 0px;
}

h2 {
  font-size: 11px;
  font-weight: 300;
  margin-bottom: 5px;
}

.text {
	font-size: 12px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: lighter;
}

.signature__logo {
	width: 47px !important;
	margin: 0 !important;
	vertical-align: top;
	
	img {
		margin: 0 !important;
		display: block !important;
	}
}

.signature__contact-details {
	vertical-align: middle;
	height: 58px;
	width: auto !important;
	padding-left: 20px !important;
}


.contact-details__item {
  font-size: 12px;
  font-weight: 300;
	text-decoration: none !important;
	display: block;
	margin-bottom: 0;
}

span {
	text-decoration: none !important;
}